<div class="nav-container primary-menu">
    <div class="mobile-topbar-header">
        <div>
            <img src="/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Quản Lý Nhà Thuốc</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i></div>
    </div>
    <nav class="navbar navbar-expand-xl w-100">
        <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">

            <!-- Quản lý nhân sự -->
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <div class="parent-icon"><i class='bx bx-group'></i></div> 
                    <div class="menu-title">Quản lý Nhân Sự</div>
                </a>
            </li>

            <!-- Quản lý danh mục thuốc -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/danh-muc">
                    <div class="parent-icon"><i class="bx bx-list-ul"></i></div>
                    <div class="menu-title">Quản lý Danh Mục Thuốc</div>
                </a>
            </li>

            <!-- Quản lý kho thuốc -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/kho-thuoc">
                    <div class="parent-icon"><i class='bx bx-box'></i></div> 
                    <div class="menu-title">Quản lý Kho Thuốc</div>
                </a>
            </li>

            <!-- Quản lý nhà cung cấp -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/nha-cung-cap">
                    <div class="parent-icon"><i class='bx bx-buildings'></i></div> 
                    <div class="menu-title">Quản lý Nhà Cung Cấp</div>
                </a>
            </li>

            <!-- Quản lý nhập thuốc -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/nhap-thuoc">
                    <div class="parent-icon"><i class='bx bx-cart'></i></div> 
                    <div class="menu-title">Quản lý Nhập Thuốc</div>
                </a>
            </li>

            <!-- Thống kê -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/thong-ke">
                    <div class="parent-icon"><i class='bx bx-bar-chart'></i></div> 
                    <div class="menu-title">Thống Kê</div>
                </a>
            </li>
            
            <!-- Thông tin cá nhân -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/thong-tin-ca-nhan">
                    <div class="parent-icon"><i class='bx bx-user-circle'></i></div> 
                    <div class="menu-title">Thông Tin Cá Nhân</div>
                </a>
            </li>
        </ul>
    </nav>
</div>
