<div class="nav-container primary-menu">
    <div class="mobile-topbar-header">
        <div>
            <img src="/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Quản Lý Nhà Thuốc</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i></div>
    </div>
    <nav class="navbar navbar-expand-xl w-100">
        <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">

            <!-- Quản lý nhân sự -->
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <div class="parent-icon"><i class='bx bx-user-check'></i></div>
                    <div class="menu-title">Quản Lý Nhân Sự</div>
                </a>
            </li>

            <!-- Quản lý danh mục thuốc -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/danh-muc">
                    <div class="parent-icon"><i class="bx bx-category"></i></div>
                    <div class="menu-title">Quản Lý Danh Mục Thuốc</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/don-vi">
                    <div class="parent-icon"><i class="bx bx-cube"></i></div>
                    <div class="menu-title">Quản Lý Đơn Vị</div>
                </a>
            </li>

            <!-- Quản lý sản phẩm -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/san-pham">
                    <div class="parent-icon"><i class='bx bx-package'></i></div>
                    <div class="menu-title">Quản Lý Sản Phẩm</div>
                </a>
            </li>

            <!-- Quản lý khách hàng -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/khach-hang">
                    <div class="parent-icon"><i class='bx bx-user'></i></div>
                    <div class="menu-title">Quản Lý Khách Hàng</div>
                </a>
            </li>

            <!-- Quản lý nhân viên -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/nhan-vien">
                    <div class="parent-icon"><i class='bx bx-user-plus'></i></div>
                    <div class="menu-title">Quản Lý Nhân Viên</div>
                </a>
            </li>

            <!-- Quản lý cửa hàng -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/cua-hang">
                    <div class="parent-icon"><i class='bx bx-store'></i></div>
                    <div class="menu-title">Quản Lý Cửa Hàng</div>
                </a>
            </li>

            <!-- Quản lý nhà cung cấp -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/nha-cung-cap">
                    <div class="parent-icon"><i class='bx bx-building-house'></i></div>
                    <div class="menu-title">Quản Lý Nhà Cung Cấp</div>
                </a>
            </li>

            <!-- Quản lý nhập thuốc -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/nhap-thuoc">
                    <div class="parent-icon"><i class='bx bx-cart-add'></i></div>
                    <div class="menu-title">Quản Lý Nhập Thuốc</div>
                </a>
            </li>

            <!-- Quản lý kho thuốc -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/kho-thuoc">
                    <div class="parent-icon"><i class='bx bx-archive-in'></i></div>
                    <div class="menu-title">Quản Lý Kho Thuốc</div>
                </a>
            </li>

            <!-- Quản lý bán hàng -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/sell-product">
                    <div class="parent-icon"><i class='bx bx-bar-chart-alt'></i></div>
                    <div class="menu-title">Quản Lý Bán Hàng</div>
                </a>
            </li>

            <!-- Chi tiết hóa đơn bán -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/chi-tiet-hoa-don-ban">
                    <div class="parent-icon"><i class='bx bx-receipt'></i></div>
                    <div class="menu-title">Chi Tiết Hóa Đơn Bán</div>
                </a>
            </li>

            <!-- Thông tin cá nhân -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/users/profile/1">
                    <div class="parent-icon"><i class='bx bx-user-circle'></i></div>
                    <div class="menu-title">Thông Tin Cá Nhân</div>
                </a>
            </li>
        </ul>
    </nav>
</div>
